<html>
<body>
	<center>

		<span><h2>Welcome to the <a href="http://premefeed.github.io/">PremeFeed</a> API <a href="https://github.com/premefeed/server/blob/master/README.md">(docs)</a></h2></span>

		<img src="http://cdn3.hiphopsince1987.com/wp-content/uploads/2015/02/gucci-mane-fuck-that-bitch-ft-young-scooter-bankroll-fresh-HHS1987-2015-435x375.jpg"></img>
		<br>
		<img src="http://i.imgur.com/2gznNfv.png?1">
		<br>
		<br>
			<a href="/api/v1/items/all">Click here to get some data</a>
		<br>
			<a href="/api/v1/items/recentlyadded">Recently Added Items</a>
		<br>
			<a href="https://github.com/premefeed/server">GitHub Repository</a>

	<footer>

		<br>

		© 2015 PremeFeed

	</footer>
	</center>
</body>
</html>